$black1: #212121;
$black2: #313131;
$black3: #434343;
$black4: #5B5B5B;
$black5: #919191;
$black6: #F0F0F0;
$black7: #E1E1E1;
$black8: #7C7C7C;
$white1: #FFFFFF;
$orange1: #F6C873;
$orange2: #DA9909;
$orange3: #FFF8E7;
$green1: #208866;
$green-light: #27ae61;
$red: #E42911;


$gredient-orange: linear-gradient(90deg, #FF614C 0%, #FF900D 100%);
$gredient-blue: linear-gradient(90deg, #2D4EC2 0%, #3A5EDC 100%);
$gredient-green: linear-gradient(90deg, #208866 0%, #27A77D 100%);
$gredient-grey: linear-gradient(90deg, #E9E9E9 0%, #CCCCCC 100%);